<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>

<body>
    <div class="container">
        <div class="nav">
            <h1>Todo List</h1>
        </div>
        <div class="main-content">
            <div class="sections">
            </div>
            <div class="add-project hidden">
                <form class="project-form" id="project-form">
                    <div class="header-input">
                        <input placeholder="Name your project..." required class="project-input">
                    </div>
                </form>
            </div>
            <div class="add-project-button">
                    <img class="plus" src="../assets/img/plus.svg" alt="Plus Icon">
                    <div>Add New Project</div>
            </div>
        </div>
        <div class="footer">
            <p>Copyright © 2022 jackwatters45</p>
            <a href="https://github.com/jackwatters45/" target="_blank"><img class="github-logo"
                    src="../assets/img/github-logo.svg" alt="Github Logo"></a>
        </div>
    </div>
    <div class="sidebar-positioning hidden">
        <div class="sidebar">
            <div class="close"><img class="arrow" src="../assets/img/arrow.svg" alt="Close Button"></div>
            <form id="properties">
                <input class="name" required type="text">
                <label class="project-label">
                    <img src="../assets/img/project.svg" alt="Priority Icon">Project</label>
                <div class="project"></div>
                <label class="priority-label">
                    <img src="../assets/img/priority.svg" alt="Priority Icon">Priority</label>
                <input class="priority" placeholder="Empty" type="text">
                <label class="date-label"><img src="../assets/img/calendar.svg" alt="Date Icon">Time Created</label>
                <div class="date"></div>
                <label class="done-label"><img src="../assets/img/check.svg" alt="Checkmark Icon">Done?</label>
                <div class="is-done"><img src="../assets/img/checkbox.svg" alt="Empty Checkmark">
                </div>
                <div class="notes">
                    <hr class="note-break">
                    <textarea class="note-input" placeholder="Add notes here..." type="text"></textarea>
                </div>
            </form>
        </div>
    </div>

</body>

</html>